<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.EncodingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ViewUserFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.ViewUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EditUserFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.EditUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.CookieFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserListFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.UserListFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegisterUserFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.RegisterUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResetPasswordFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.ResetPasswordFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DeleteUserFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.DeleteUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EditPasswordFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.EditPasswordFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RefreshLoginedUserFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.User.RefreshLoginedUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CreateEventFilter</filter-name>
        <filter-class>com.mycompany.makeanev2.Filters.Event.CreateEventFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RefreshLoginedUserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EditPasswordFilter</filter-name>
        <servlet-name>EditPasswordServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DeleteUserFilter</filter-name>
        <servlet-name>DeleteUserServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResetPasswordFilter</filter-name>
        <servlet-name>ResetPasswordServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegisterUserFilter</filter-name>
        <servlet-name>RegisterUserServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserListFilter</filter-name>
        <servlet-name>UserListServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EditUserFilter</filter-name>
        <servlet-name>EditUserServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ViewUserFilter</filter-name>
        <servlet-name>ViewUserServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CreateEventFilter</filter-name>
        <servlet-name>CreateEventServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.ViewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.ResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPasswordServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.EditPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.User.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventServlet</servlet-name>
        <servlet-class>com.mycompany.makeanev2.Servlets.Event.CreateEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserServlet</servlet-name>
        <url-pattern>/viewuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/resultpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPasswordServlet</servlet-name>
        <url-pattern>/editpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventServlet</servlet-name>
        <url-pattern>/createev</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <description>MakeAnEv</description>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/makeanev</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
